* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: #e8c5fa;
  text-align: center;
  border: 2px solid #816b8c;
  padding: 20px;
  margin: 20px;

}

body {
  background-color: #9cd4d6;
}

h2 {
  text-decoration: underline;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #00e5ff;
}

p {
  border: 2px solid #0fb7bd;
  margin: 20px;
  padding: 20px;
}

.button {
  width: 100px;
  text-align: center;
  font-size: 18px;
  background-color: #7f2399;


}

.project-list {
  list-style-type: circle;
}

ul {
  margin: 20px;
  list-style-type: disc;
}

#email {
  color: #008726;
  width: 250px;
  text-align: center;
  padding: 10px;
}

.navbar {
  list-style-type: none;
  display: block;
  padding: 25px;
  background-color: #737373;
  color: blue;
  margin: auto;
  height: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

ul.navbar li {
  display: inline;
  float: left;
  padding: 8px;
}
